body {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}

#skip-button {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999;

	a {
		position: relative;
		height: 1px;
		width: 1px;
		overflow: hidden;
		display: inline-block;
		font: normal 18px/1 'Droid Sans', sans-serif;
		color: #494949;
		border-radius: 10px;
		transition: left 0.5s ease;
		color: #000;

		&:focus {
			margin-top: 30px;
			margin-left: 30px;
			text-decoration: none;
			display: inline-block;
			height: auto;
			width: auto;
			background: #fff;
			padding: 10px 20px;
			border: #494949;
		}
	}
}

a {
	&:hover,
	&:active,
	&:focus {
		text-decoration: underline;
	}
}

h2 {
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 1rem;
}

button {
	display: block;
	width: 100%;
	@media (min-width: 768px) {
		width: auto;
	}
}

img {
	max-width: 100%;
}

p {
	font-size: 18px;
	line-height: 30px;
}

ul {
	line-height: 30px;
}

.primary-button {
	background-color: #4f8406;
	border: 3px solid transparent;
	border-radius: 0.25rem;
	bottom: -1.25rem;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 1.5rem;
	text-transform: uppercase;

	&:hover,
	&:focus,
	&:active {
		background-color: white;
		border: 3px solid #4f8406;
		color: #4f8406;
	}
}

.container {
	max-width: 1300px;
}

.header {
	&-row {
		position: absolute;
		z-index: 999;
		width: 100%;

		img {
			width: 100%;
		}
	}

	&-container {
		background-color: rgba(255, 255, 255, 0.7);
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		top: 0;
	}

	&-links-container {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0.5rem 0;
		order: 2;

		@media (min-width: 768px) {
			flex-wrap: norwap;
			order: 0;
		}
	}

	&-sub-links {
		display: flex;
		justify-content: center;
		list-style-type: none;
		margin: 0;
		padding-left: 0;
		width: 100%;

		@media (min-width: 768px) {
			width: auto;
		}

		ul {
			display: flex;
			list-style-type: none;
			padding-left: 0;
		}

		li {
			&::before {
				content: '|';
				display: inline-block;
				padding: 0 1rem;

				@media (min-width: 768px) {
					padding: 0 1.5rem;
				}
			}

			&:first-child {
				margin-left: 0;

				&::before {
					content: unset;
				}
			}

			&:nth-child(2) {
				&::before {
					padding-left: 0.75rem;
				}
			}
		}

		.header-search {
			.fas {
				color: #4f8406;
			}
		}
	}

	&-social-icons {
		align-self: center;
		display: inline-flex;
		flex: 0 1 100;
		text-align: center;
		margin: 1rem 0 0;

		&::before {
			content: unset;
			display: inline-block;
			padding: 0 1rem;

			@media (min-width: 768px) {
				content: '|';
			}
		}

		.fab {
			align-self: center;
			color: #4f8406;
			font-size: 18px;
			margin-right: 0.5rem;
		}

		@media (min-width: 768px) {
			flex: 0 1 auto;
			margin: 0;
		}
	}

	&-logo {
		display: flex;
		justify-content: center;
		margin: 1rem auto 0;
		padding: 0;
		order: 1;
	}

	&-nav {
		margin-top: 1rem;
		padding: 0;
		z-index: 999;
		order: 4;

		@media (min-width: 768px) {
			order: 3;
		}

		.navbar {
			background-color: rgba(#363636, 0.9);
			justify-content: center;

			#header-navbar {
				justify-content: center;
			}

			&-nav {
				font-size: 16px;
				font-weight: bold;
				text-transform: uppercase;

				.nav-item {
					display: flex;

					&::before {
						content: '';
						height: 100%;
						width: 1px;
						background-color: white;
						display: inline-block;
						margin: 0 1.25rem;
					}

					&:first-child {
						&::before {
							content: unset;
						}
					}
				}
			}
		}
	}
}

.header-hero {
	align-content: flex-start;
	background-image: url('img/bulloch-county-hero.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	display: flex;
	position: relative;
	min-height: 450px;
	justify-content: center;

	&.subpage {
		background-image: url('img/subpage-hero.jpg');
		background-position: bottom center;

		&::before {
			content: unset;
		}
	}

	&::after {
		content: '';
		background-image: url('img/hero-orange-left-accent.png');
		background-repeat: no-repeat;
		background-size: cover;
		bottom: 0;
		left: 0;
		position: absolute;

		@media (min-width: 992px) {
			height: 198px;
			width: 650px;
		}
	}

	&::before {
		content: '';
		background-image: url('img/hero-orange-right-accent.png');
		background-repeat: no-repeat;
		background-size: cover;
		bottom: 0;
		right: 0;
		position: absolute;

		@media (min-width: 992px) {
			height: 198px;
			width: 650px;
		}
	}

	&-cta {
		display: flex;
		bottom: 0;
		justify-content: center;
		position: absolute;

		&-container {
			background-color: rgba(0, 0, 0, 0.7);
			bottom: 5rem;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 0.5rem 1.5rem 2rem;
			position: absolute;

			@media (min-width: 768px) {
				bottom: 2.8125rem;
			}

			&::before {
				@media (min-width: 992px) {
					content: '';
					position: absolute;
					top: -90px;
					height: 90px;
					background: url('img/orange-ellipse-top.png') center top / auto 100%;
					width: 271px;
				}
			}
			&::after {
				@media (min-width: 992px) {
					content: '';
					position: absolute;
					bottom: -90px;
					height: 90px;
					background: url('img/orange-ellipse-bottom.png') center top / 100%;
					background-repeat: no-repeat;
					width: 271px;
				}
			}

			span {
				color: white;
				display: block;
				text-align: center;

				&.cta-header {
					font-size: 25px;
					font-weight: 900;
					text-transform: uppercase;
					white-space: nowrap;

					@media (min-width: 768px) {
						font-size: 30px;
					}
				}

				&.cta-subtext {
					font-size: 14px;
					font-weight: 700;
					white-space: nowrap;

					@media (min-width: 768px) {
						font-size: 25px;
					}
				}
			}

			button {
				align-self: center;
				background-color: #4f8406;
				border: 3px solid transparent;
				border-radius: 0.25rem;
				bottom: -1.25rem;
				color: white;
				font-size: 1rem;
				font-weight: bold;
				padding: 0.5rem 1.5rem;
				position: absolute;
				text-transform: uppercase;

				&:hover {
					background-color: white;
					border: 3px solid #4f8406;
					color: #4f8406;
				}
			}
		}
	}

	img {
		display: none;
		width: 100%;
		height:auto !important;
		max-height:750px !important;

		@media (min-width: 768px) {
			display: inline-block;
		}
	}
}

.right-col-cta-container {
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	justify-content: center;
	margin-top: 2rem;
	padding: 1rem;
	text-align: center;
	width: 100%;

	@media (min-width: 768px) {
		background-size: 100%;
		display: flex;
		justify-content: space-between;
		padding: 1rem 0 1rem 2rem;
		text-align: left;
		width: unset;
	}

	&-text {
		align-self: center;
		color: black;
		font-size: 25px;
		line-height: 0.9;

		.large-text {
			font-weight: bold;
			font-size: 40px;

			@media (min-width: 992px) {
				font-size: 25px;
			}

			@media (min-width: 1200px) {
				font-size: 40px;
			}
		}

		@media (min-width: 992px) {
			font-size: 16px;
		}

		@media (min-width: 1200px) {
			font-size: 25px;
		}
	}
}

.section {
	&-1 {
		.left-col {
			background-image: url('img/bulloch-county-map.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			border: 3px solid white;
			border-width: 3px 0;
			display: flex;
			flex-direction: column-reverse;

			@media (min-width: 768px) {
				flex-direction: unset;
			}

			.maps-cta {
				align-self: center;
				background-color: #4f8406;
				border: 0;
				border-radius: 0.25rem;
				bottom: 2rem;
				color: white;
				flex: 0 1 100%;
				font-size: 1rem;
				font-weight: bold;
				padding: 0.5rem 1rem;
				position: relative;
				text-transform: uppercase;

				@media (min-width: 768px) {
					bottom: 90px;
					left: 3.5rem;
					position: absolute;
				}

				&:hover &:focus,
				&:active {
					background-color: white;
					border: 3px solid #4f8406;
					color: #4f8406;
				}
			}
		}

		.right-col {
			padding: 3rem;

			&-cta-container {
				background-image: url('img/orange-cta-bg-img.jpg');

				&-text {
					color: white;
				}
			}

			&-cta {
				align-self: center;
				background-color: #4f8406;
				border: 0;
				border-radius: 0.25rem;
				color: white;
				font-size: 1rem;
				font-weight: bold;
				padding: 0.625rem 1.5rem;
				text-transform: uppercase;

				&:hover,
				&:focus,
				&:active {
					background-color: white;
					border: 3px solid #4f8406;
					color: #4f8406;
				}
			}
		}
	}

	&-2 {
		background-image: url('img/warehouse-worker-bg-img.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;

		&::before {
			background-color: rgba(255, 255, 255, 0.8);
			content: '';
			height: 100%;
			position: absolute;
			width: 100%;
		}

		.left-col {
			align-items: center;
			display: flex;
			padding: 0 3rem;

			ul {
				list-style-type: none;
				padding-left: 0;
				position: absolute;
			}

			&::after {
				content: '';
				background-image: url('img/warehouse-worker-bg-img-orange-accent.jpg');
				background-repeat: no-repeat;
				background-size: 100%;
				bottom: 0;
				height: 105px;
				left: 0;
				position: absolute;
				width: 322px;
			}
		}

		.right-col {
			background-color: rgba(0, 0, 0, 0.8);
			color: white;
			padding: 3rem;

			&-cta-container {
				background-image: url('img/white-cta-bg-img.png');
				background-repeat: no-repeat;
				background-size: cover;
				display: inline-block;
				justify-content: center;
				margin-top: 2rem;
				padding: 1rem;
				width: 100%;

				@media (min-width: 768px) {
					background-size: 100%;
					display: flex;
					justify-content: space-between;
					padding: 1rem 0 1rem 2rem;
					width: unset;
				}

				&-text {
					align-self: center;
					color: black;
					line-height: 0.9;
					padding: 0;

					.large-text {
						font-weight: bold;
					}
				}
			}

			&-cta {
				align-self: center;
				background-color: #4f8406;
				border: 0;
				border-radius: 0.25rem;
				color: white;
				font-size: 1rem;
				font-weight: bold;
				padding: 0.5rem 1.5rem;
				text-transform: uppercase;

				&:hover,
				&:focus,
				&:active {
					background-color: white;
					border: 3px solid #4f8406;
					color: #4f8406;
				}
			}
		}

		&-list-item {
			display: flex;
			margin-bottom: 2rem;

			.fas {
				align-items: center;
				color: #fb9a1b;
				display: flex;
				font-size: 40px;
				border: 5px solid #fb9a1b;
				border-radius: 100px;
				height: 80px;
				justify-content: center;
				margin-right: 0.875rem;
				width: 80px;
			}

			div {
				align-self: center;
				span {
					display: block;
				}

				.list-item-bold-text {
					font-size: 20px;
					font-weight: bold;
				}

				.list-item-sub-text {
					font-size: 18px;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&-3 {
		> div {
			padding: 0;
		}

		.left-col {
			padding: 2rem 3rem;

			h3 {
				font-size: 1.125rem;
				font-style: italic;
				font-weight: 700;

				span {
					display: inline-block;
					margin-bottom: 0.5rem;
				}
			}

			p {
				font-size: 1.125rem;
			}

			.testimonial-cta {
				align-self: center;
				background-color: #4f8406;
				border: 0;
				border-radius: 0.25rem;
				color: white;
				font-size: 1rem;
				font-weight: bold;
				padding: 0.5rem 1.5rem;
				text-transform: uppercase;

				&:hover,
				&:focus,
				&:active {
					background-color: white;
					border: 3px solid #4f8406;
					color: #4f8406;
				}
			}
		}

		.carousel {
			&-item {
				.right-col {
					background-image: url('img/man-standing-headshot.jpg');
					background-position: top center;
					background-size: cover;
					background-repeat: no-repeat;
					display: none;

					@media (min-width: 768px) {
						display: inline-block;
					}
				}
			}

			&-indicators-container {
				background-color: #4f8406;
				display: inline-block;
				position: relative;
				width: 100%;
			}

			&-indicators {
				position: relative;
				top: 4px;
			}
		}
	}

	&-4 {
		background-image: url('img/warehouse-bg-section.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		border-top: 3px solid white;
		position: relative;

		.left-col,
		.right-col {
			color: white;
			padding: 2rem 3rem;
		}

		.left-col {
			background-color: rgba(199, 123, 24, 0.7);

			ul {
				list-style-type: none;
				padding: 0;

				.news-item {
					margin-bottom: 2rem;

					&::after {
						background-color: rgba(255, 255, 255, 0.7);
						content: '';
						display: inline-block;
						height: 1px;
						width: 100%;
					}

					&:last-child {
						margin-bottom: 0;

						&::after {
							content: unset;
						}
					}

					&-date {
						font-weight: bold;
					}

					&-excerpt {
						font-size: 1rem;
						margin-bottom: 0;
					}
				}
			}
		}

		.right-col {
			background-color: rgba(#363636, 0.7);
		}
	}
}

.subpage-hero-title {
	background-color: black;
	bottom: 2rem;
	color: white;
	position: absolute;
	margin: 0 auto;
	padding: 1rem;

	h1 {
		font-weight: 900;
		margin-bottom: 0;
	}

	@media (min-width: 768px) {
		left: 3rem;
		bottom: 3rem;
		z-index: 1;
	}
}

.subpage-content {
	.left-col,
	.right-col {
		padding: 4rem 3rem 2rem;
	}

	.right-col {
		.current-news {
			ul {
				list-style-type: none;
				padding-left: 0;
			}

			&-item {
				p {
					font-size: 1rem;
					line-height: normal;
				}

				.bold-italic {
					color: #646464;
					font-weight: bold;
					font-style: italic;
					display: block;
					margin-bottom: 0.5rem;
				}

				&-date {
					display: block;
					font-size: 1rem;
					font-weight: 900;
					margin-bottom: 0.5rem;
				}

				&::after {
					background-color: rgba(#646464, 0.4);
					content: '';
					display: inline-block;
					height: 1px;
					margin: 1.5rem 0;
					width: 100%;
				}

				&:last-child {
					&::after {
						content: unset;
					}
				}
			}

			a {
				color: #4f853d;
				font-weight: bold;
			}
		}
	}

	&-image-cta {
		background-image: url('img/subpage-students.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		justify-content: center;
		flex-direction: column-reverse;
		margin: 2rem 0;
		position: relative;
		width: 100%;

		@media (min-width: 768px) {
			display: inline-block;
			flex-direction: unset;
		}

		.subpage-content-cta-container {
			background-image: url('img/subpage-content-orange-cta.png');
			background-position: left center;
			background-size: cover;
			background-repeat: no-repeat;
			bottom: -1px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 2rem;
			padding: 0.5rem 1rem;
			width: 100%;

			br {
				display: none;

				@media (min-width: 768px) {
					display: block;
				}
			}

			@media (min-width: 768px) {
				background-size: 100%;
				bottom: 1.5rem;
				flex-wrap: nowrap;
				justify-content: space-between;
				left: 1.5rem;
				padding: 1.8125rem 1rem 1.8125rem 1rem;
				position: absolute;
				width: auto;
			}

			@media (min-width: 992px) {
				padding: 1.8125rem 5rem 1.8125rem 2rem;
			}

			&-text {
				align-self: center;
				color: white;
				display: inline-block;
				font-size: 25px;
				line-height: 0.9;
				margin-bottom: 1rem;

				.large-text {
					display: inline-block;
					font-weight: bold;
					font-size: 40px;
					margin-top: 0.25rem;
				}
			}

			button {
				align-self: center;
				background-color: #4f8406;
				border: 3px solid transparent;
				border-radius: 0.25rem;
				color: white;
				font-size: 1rem;
				font-weight: bold;
				padding: 0.5rem 1.5rem;
				text-transform: uppercase;

				&:hover {
					background-color: white;
					border: 3px solid #4f8406;
					color: #4f8406;
				}

				@media (min-width: 768px) {
					bottom: -1.25rem;
					margin-left: 2rem;
				}
			}
		}
	}

	&-header-container {
		align-items: center;
		background-color: #4f8406;
		display: flex;
		padding: 0.75rem 1rem;

		span {
			color: white;
			font-size: 1.125rem;
		}

		.fas {
			color: white;
			font-size: 1.5rem;
			margin-left: 0.5rem;
		}
	}

	.accordion {
		margin-top: 3rem;

		.card {
			border-radius: 0;
			box-shadow: none;

			&-body {
				padding-left: 0;
				padding-right: 0;
			}

			&-header {
				background-color: #4f8406;
				padding: 0.75rem 1rem;

				h5 {
					color: white;
					font-weight: normal;
				}
			}
		}
	}

	.view-our-maps {
		margin: 3rem 0;

		button {
			margin-top: 1rem;
		}
	}
}

.footer {
	height: 235px;

	&-logo {
		max-width: 250px;

		img {
			height: 100px;
		}
	}

	&-address {
		flex: 0 1 100%;
		font-size: 0.875rem;
		margin-bottom: 0.875rem;
	}

	&-copyright {
		font-size: 0.75rem;
	}

	&::after {
		background-color: #fb9a1b;
		content: '';
		display: block;
		height: 30px;
		width: 100%;
	}

	.left-col {
		align-content: center;
		display: flex;
		flex-wrap: wrap;
		padding: 2rem 3rem;
	}

	.right-col {
		align-content: center;
		display: flex;
		flex-wrap: wrap;
		padding: 2rem 3rem;
	}

	&-contact-info,
	&-contact-phone-cell {
		display: inline-block;
		width: 100%;
	}

	&-contact-info {
		font-style: italic;

		strong {
			font-style: normal;
			font-weight: bold;
		}
	}

	&-contact-cta {
		text-transform: uppercase;

		strong {
			font-weight: bold;
		}
	}

	&-contact-phone {
		&:first-child {
			&::before {
				content: unset;
			}
		}

		&::before {
			content: '|';
			padding: 0 1rem;
		}
	}

	&-contact-social {
		align-content: center;
		display: flex;
		margin-top: 2rem;

		ul {
			display: flex;
			list-style-type: none;
			padding: 0;
		}

		&-items {
			color: #4f853d;
			font-size: 30px;
			margin: 0 0.25rem 0;
		}

		&-label {
			align-self: center;
			font-weight: bold;
			text-transform: uppercase;

			&::after {
				content: '|';
				font-weight: normal;
				padding: 0 1rem;
			}
		}
	}
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
